

body {
	background-color: #fafafa;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark, nav.dark, div.dark {
	background: #292C35;
    color: blueviolet;
}

.checkbox {
	opacity: 0;
	position: absolute;
	float: left;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.between {
background-color: white;
align-items: center;
border-radius: 10px;
max-width: 600px;

}
.check-button{
background-color: blue;
}

.logo {
    width: 54px;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -27px;
}

.lang-switch {
    list-style: none;
    margin: 10px auto;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.top-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 140px;
    padding: 10px;
}

.header {
    font-size: 1.125rem;
}
button {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.button {
    outline: none;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    font-size: 1.2rem;
    background: 0 0;
    border-radius: 5px;
    justify-content: center;
}
.button.button-link {
    background-color: transparent;
    color: #01689a;
    font-size: 1.2rem;
    padding: 0;
    text-align: left;
    border-radius: 0;
}
.lang-switch li button.button-link {
    padding: 0 .3rem;
}
.button.button-link.button-black {
    color: #000;
}
.lang-switch {
    list-style: none;
    margin: 10px auto;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, del, details, dfn, div, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, mark, menu, nav, object, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
lang-switch li.active, .lang-switch li:focus, .lang-switch li:hover {
    border-bottom: 2px solid #01689a;
}
.lang-switch li {
    display: inline-block;
    margin: 0 0 0 5px;
}
.header .small-container {
    padding: 0;
}
.fixed-width-container.small-container {
    width: 700px;
}
.fixed-width-container {
    width: 992px;
    margin: 0 auto;
    display: flex;
}
.grid-container {
    display: flex;
}
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ca005d;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    height: 70px;
}
.content-container.single-page .header, .content-container.wizard-page .header {
    height: 70px;
}
.content-container.single-page {
    min-height: 100vh;
}
 
.header .small-container {
    padding: 0 0 0 10px;
}
.header .button-plain .button-text {
    text-decoration: none;
}
.button.button-link {
    background-color: transparent;
    color: #01689a;
    font-size: 1.2rem;
    padding: 0;
    text-align: left;
    border-radius: 0;
}
.header h1.page-title {
    color: #fff;
    margin: 0 10px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
h1.page-title {
    font-weight: 400;
    font-size: 1.8rem;
}
h1 {
    font-size: 2.2rem;
    line-height: 1.3;
    margin-bottom: .5rem;
}
h1, h2, h3, h4 {
    font-style: normal;
}
.button.button-plain.button-white {
    border: none;
    color: #fff;
}
.header .button-log-out {
    margin-left: auto;
    text-decoration: underline;
    white-space: nowrap;
}
.top-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 140px;
    padding: 10px;
    background: #fff;
}
.content-container.single-page .header, .content-container.wizard-page .header {
    height: 70px;
	width: 274.4px;
}
body, html {
    height: 100%;
    font-size: 100%;
    background: #f3f3f3;
}
body {
    line-height: 1;
}
body:root, h1, h2, h3, h4, html:root, input[type=email], input[type=number], input[type=text] {
    font-family: RoSans,arial;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.lang-switch li {
    display: inline-block;
    margin: 0 0 0 5px;
}
ul {
    list-style-type: disc;
}
.content-container.single-page .content-section {
    padding: 20px;
    position: relative;
}
.content-container.single-page .content-section, .content-container.wizard-page .content-section {
    flex: 1 0 0;
    -webkit-flex: 1;
}
div {
    display: block;
}
.fixed-width-container.small-container {
    width: 700px;
}
.grid-container.vertical-direction {
    flex-direction: column;
}
.fixed-width-container {
    width: 992px;
    margin: 0 auto;
    display: flex;
}
.text-container {
    margin: 20px 0 0;
}
h1 {
    font-size: 2.2rem;
    line-height: 1.3;
    margin-bottom: .5rem;
}
body:root, h1, h2, h3, h4, html:root, input[type=email], input[type=number], input[type=text] {
    font-family: RoSans,arial;
}
label, p {
    font-family: RoSans,verdana;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.2rem;
}
p {
    margin: 0 0 .8rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.result-block {
    border-bottom: 1px solid #ddd;
    padding: 0 0 1rem;
}
.result-block, .result-block .text-block p, .result-block h4 {
    margin: 0 0 1rem;
}